@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin:0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  text-align: center;
  color: rgb(51, 51, 51);
}

h3 {font-size: 21px;}

.visually-hidden {
  visibility: hidden;
}

/* HEADER */

.main-navigation {
  padding: 0;
  margin: 0 auto;
}

.main-header-logo {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.site-navigation,
.service-navigator,
.feature-list,
.setting,
.infr,
.type,
.sorting-list,
.sorting-item {
  list-style: none;
}

.main-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: -50px 6%;
}

.site-navigation li {
  z-index: 100;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.site-navigation li:nth-child(2) {
  margin-right: 16%;
}

.site-navigation li:nth-child(3) {
  margin-left: 16%;
}

.site-navigation a:hover {
  color: rgb(129, 179, 210);
}

.site-navigation a:active {
  color: rgb(206, 206, 206);
}

#visited {
  color: rgb(118, 99, 87);
}

/* FOOTER */
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 33%;
  vertical-align: middle;
  text-align: center;

  font-size: 21px;
  font-weight: bold;
}

.social {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-color: rgb(129, 179, 210);
}

.twitter a {
  background-image: url("../img/twitter.svg");
  background-position: 0 0;
}

.facebook a {
  z-index: 50;
  background-image: url("../img/fb-icon.svg");
}

.youtube a {
  background-image: url("../img/youtube.svg");
}

.social a:hover {
  background-color: rgb(129, 179, 210);
}

.social a:active {
  background-color: rgb(206, 206, 206);
}

.copyright {
  display: inline-block;
  align-items: middle;
  width: 33%;
  white-space: nowrap;
}

.design {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  color: rgb(0, 0, 0);
}

.design a:hover {
  color: rgb(129, 179, 210);
}

.design  a:active {
  color: rgb(206, 206, 206)
}

/* CONTAINER */

.mountains {
  width: 100%;
  height: 500px;
  margin: -10px 0 auto;
  background: url("../img/background-index.jpg"), url("../img/text-index.png");
  background-position: center, center;
  background-repeat: no-repeat no-repeat;
}

.frame {
  width: 100%;
  height: 10px;
  margin: 0 auto;
  background: url("../img/frame-index.png"); background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-promo {
  margin: -40px 0 auto;
  font-size: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.welcome-text {
  margin: 20px auto;
}

.features-ill,
.features-ill p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: rgb(129, 179, 210);
  color: #ffffff;
}

.features-ill,
.services,
.features,
.feature-list {
  margin: auto;
  height: 255px;
}

.reverse {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

.feature {
  margin: 0 auto;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.service-navigator,
.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
}

.service-navigator {
  background-color: #ffffff;
}

.features {
  background-color: rgb(238, 238, 238);
}

.illustration {
  width: 66%;
  flex-shrink: 2;
}

.service-item {
  text-align: center;
}

.housing::before {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 75px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.question {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.form-title {
  position: relative;
  margin: 0 auto;
  width: 570px;
  height: 85;
  padding: 25px;
  background-color: rgb(118, 99, 87);

  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.form {
  margin: 0 auto;
  padding: 25px;
  width: 570px;
  height: 400px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
}

.form p,
.form p > input {
  text-align: center;
  font-size: 14;
  font-weight: bold;
  color: rgba(0, 0, 0,);
}

.date-in,
.date-out {
  height: 25px;
  background-image: url("../img/calendar.svg") no-repeat 100%;
  background-position: right;
}

.counter {
  display: inline-block;
}

.counter p {
  text-align: center;
}

.search-button {
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 0;
  height: 60px;
  width: 460px;
  vertical-align: middle;
  background-color: rgb(129, 179, 210);
  border: none;
  border-radius: 0;

  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

/* Hotels*/

.search-form {
  width: 100%;
  height: 365px;
  margin: -55px 0 auto;
  background: url("../img/background-hotes.jpg") no-repeat 100%;
  background-position: center;

  color: #ffffff;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding: 50px;

  font-size: 16px;
  font-weight: bold;
}

.setting ul {
  margin: 0 auto;
  padding: 0;
}

.infr li,
.type li{
  padding: 25px 0;

  font-size: 14px;
  font-weight: normal;
}

.price-range p {
  border: 3px solid white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}

.results-btn {
  width: 150px;
  height: 40px;
  border: 3px solid white;
  border-radius: 5px;

  text-transform: uppercase;
  color: #ffffff;
}

.results-btn:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.results {
  margin: -30px auto;
  text-align: justify;
}

.results :not(h2) {
  display: inline;
  text-align: justify;
}

.results-title,
.results-number,
.item-title  {
  font-size: 21px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.sorting,
.sorting-list {
  font-size: 12px;
  font-weight: normal;
}

.sorting-up a {
  display: inline-block;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}

.sorting-down a {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
}

.sorting-list a {
  border-bottom: 1px dashed rgb(129, 179, 210);
  color: rgb(206, 206, 206);

}
.sorting-list a:hover {
  border-bottom: 1px dashed rgb(129, 179, 210);
  color: rgb(129, 179, 210);
}

.sorting-list a:active {
  color: rgb(0, 0, 0);
}

#active {
  color: rgb(129, 179, 210);
}

.sorting-item {
  margin: 0 auto;
  padding: 0;
}

.item {
  display: inline-block;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 150px;
  border-top: 1px solid rgb(229, 229, 229);
}

.item:last-child {
border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-photo {
  margin: 30px auto;
  padding: 0;
}

.hotel-description {
  display: inline;
  margin: 30px auto;
  padding: 0;
  text-align: justify;
}

}
.option,
.price {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  vertical-align: middle;

  font-size: 14px;
  font-weight: regular;
  color: rgb(0, 0, 0);
}

.hotel-info {
  display: inline-block;
  width: 110px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(129, 179, 210);

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.hotel-booking {
  display: inline-block;
  width: 140px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118, 99, 87);

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.raiting {
  display: block;
  width: 110px;
  height: 25px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(229, 229, 229);
}
