@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-width: 768px;
  line-height: 20px;
  text-align: center;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}

h3 {
  padding: 0 35px;
  text-align: center;
  font-size: 21px;
}

.visually-hidden {
  display: none;
}

.map {
  margin-bottom: -50px;
}

/* HEADER */

.main-navigation {
  padding: 0;
  margin: 0 auto;
}

.main-header-logo {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

li {
  list-style: none;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: -60px 6% 20px 6%;
}

.site-navigation li {
  font-weight: bold;
}

.site-navigation li:nth-child(2) {
  margin-right: 16%;
}

.site-navigation li:nth-child(3) {
  margin-left: 16%;
}

.site-navigation a:hover {
  color: rgb(129, 179, 210);
}

.site-navigation a:active {
  color: rgb(206, 206, 206);
}

#visited {
  color: rgb(118, 99, 87);
}

/* FOOTER */
.main-footer {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.8);
}

.hashtag {
  width: 33%;
  vertical-align: middle;
  text-align: center;

  font-size: 21px;
  font-weight: bold;
}

.social {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  background-color: rgb(129, 179, 210);
}

.social:hover {
  background-color: rgb(102, 158, 192);
}

.social:active {
  background-color: rgb(84, 150, 189);
}

.social div:active {
  opacity: 0.3;
}

.twitter {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  display: inline-block;
  align-items: middle;
  width: 33%;
  white-space: nowrap;
}

.design {
  display: inline-block;
  width: 120px;
  height: 45px;
  vertical-align: middle;
  background-image: url("../img/logo-htmlacademy.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  background-position: top;
}

.design:hover {
  background-image: url("../img/logo-htmlacademy.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  background-position: 50% 53%;
}

.design:active {
  display: inline-block;
  width: 120px;
  height: 45px;
  vertical-align: middle;
  background-image: url("../img/logo-htmlacademy.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  background-position: 50% 104%;
}

/* CONTAINER */

.mountains {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  background-image: url("../img/background-index.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  height: 500px;
  width: 100%;
  margin: auto;
  background-image: url("../img/text-index.png");
  background-position: center;
  background-repeat: no-repeat;
}

.frame {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background: url("../img/frame-index.png"); background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-promo {
  margin: 40px auto;
  font-size: 21px;
  font-weight: bold;
}

.welcome-text {
  margin: 40px auto 60px auto;
}

.features-ill,
.features-ill p {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(129, 179, 210);
  color: #ffffff;
}

.services {
  margin: 0 auto;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

.service-item,
.feature {
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 33.33%;
}

.number {
  padding: 20px;
}

.service-navigator,
.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.housing::before {
  content: "";
  display: block;
  margin: 20px auto;
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.food::before {
  content: "";
  display: block;
  margin: 20px auto;
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.souvenirs::before {
  content: "";
  display: block;
  margin: 20px auto;
  width: 65px;
  height: 75px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.features {
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
}

.illustration-1 {
  display: block;
  width: 66.66%;
  background-image: url("../img/sedonacity-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.illustration-2 {
  display: block;
  width: 66.66%;
  background-image: url("../img/devilroad-index.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-item {
  position: relative;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.question {
  margin: 50px auto;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.form-title {
  margin: 50px auto 0 auto;
  width: 570px;
  height: 85;
  padding: 25px;
  background-color: rgb(118, 99, 87);

  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.hotel-search {
  z-index: 10;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding: 50px;
  width: 520px;
  height: 350px;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);

  font-family: inherit;
}

.form p {
  margin: 0;
  padding: 0;

  font-weight: bold;
}

.form p > input {
  margin: 20px -2px;
  padding: 0;

  font-weight: bold;
  color: rgba(0, 0, 0,);
}

.date input {
  margin: 0 auto 20px auto;
  padding: 0;
  width: 345px;
  height: 40px;
  background-color: rgb(242, 242, 242);
  border: none;
}

.date input:hover {
  background-color: rgb(235, 235, 235);
}

.date input:focus {
  background-color: none;
  border: 3px solid rgb(235, 235, 235);
}

.counter input {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: rgb(242, 242, 242);
  text-align: center;
  border: none;
  border-radius: 0;
}

.counter {
  font-size: 0;
}

.form label {
  display: inline-block;
  text-align: left;
}

.search-button {
  margin: 20px auto;
  padding: 0;
  height: 60px;
  width: 460px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(129, 179, 210);
  border: none;
  border-radius: 0;

  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.search-button:hover {
    background-color: rgb(129, 179, 210);
}

.search-button:active {
    opacity: 5;
    background-color: rgb(84, 150, 189);
}
/* Hotels*/

#active {
  color: rgb(129, 179, 210);
}

.search-form {
  width: 100%;
  height: 215px;
  margin: 0 auto;
  padding: 30px;
  background: url("../img/background-hotes.jpg") no-repeat 100%;
  background-position: center;
  background-size: cover;

  font-family: inherit;
  color: #ffffff;
}

.settings {
  display: flex;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: bold;
}

.filter {
  margin: 20px auto;
  padding: 0;
  text-align: left;
}

.filter ul {
  padding: 0;
}

.filter-option {
  margin: 25px auto;
  padding-left: 15px;
  font-size: 14px;
  font-weight: normal;
}

.checkbox {
  opacity: 0;
}

label {
  position: relative;
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 0;
  left: -25px;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left;
}

input[type="checkbox"]:checked + label::before {
  position: absolute;
  top: 0;
  left: -25px;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.price-range {
  font-size: 14px;
  font-weight: normal;
}

.results-btn {
  margin: 30px auto;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  border-color: transparent;
  text-transform: uppercase;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.results-controls {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.results-controls li {
  display: inline-block;
  margin-left: 45px;

  font-size: 12px;
}

.results-title,
.results-number,
.item-title  {
  margin: auto;
  font-size: 21px;
  font-weight: bold;
}

.sorting-list a {
  border-bottom: 1px dashed rgb(129, 179, 210);
  color: rgb(206, 206, 206);

}
.sorting-list a:hover {
  border-bottom: 1px dashed rgb(129, 179, 210);
  color: rgb(129, 179, 210);
}

.sorting-list a:active {
  color: rgb(0, 0, 0);
}

.sorting-up {
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid rgb(202, 202, 202);
}

.sorting-up:hover {
  border-bottom: 10px solid rgb(0, 0, 0);
}

.sorting-up:active {
  border-bottom: 10px solid rgb(129, 179, 210);
}

.sorting-down {
  width: 0;
	height: 0;
  border-top: 10px solid rgb(202, 202, 202);
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.sorting-down:hover {
  border-top: 10px solid rgb(0, 0, 0);
}

.sorting-down:active {
  border-top: 10px solid rgb(129, 179, 210);
}

.sorting-item {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.item {
  display: flex;
  margin: 0 auto;
  padding: 0;
  border-top: 1px solid rgb(229, 229, 229);
}

.item:last-child {
border-bottom: 1px solid rgb(229, 229, 229);
}

.hotel-photo {
  margin: 30px;
  padding: 0;
  align-self: flex-start;
}

.hotel-description {
  display: inline-block;
  margin: 30px 0;
  padding: 0;
  text-align: left;
}

.item p {
  margin: 10px;
  padding: 0;
}

.reference {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
}

.reference div {
  margin-right: 5px;
}

.item-title:hover {
  color: rgb(129, 179, 210);
}

.item-title:active {
  color: rgb(206, 206, 206);
}

.hotel-info {
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(129, 179, 210);

  font-weight: bold;
  color: #ffffff;
}

.hotel-info:hover {
  background-color: rgb(102, 158, 192);
}

.hotel-info:active {
  background-color: rgb(84, 150, 189);
  color: rgba(255, 225, 225, 0.5);
}

.hotel-booking {
  margin: 0 auto;
  padding: 5px 15px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(118, 99, 87);

  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.hotel-booking:hover {
  background-color: rgb(96, 78, 67);
}

.hotel-booking:active {
  background-color: rgb(80, 62, 51);
  color: rgba(255, 225, 225, 0.5);
}

.raiting {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: stretch;
}

.raiting p {
  padding: 5px;
  background-color: rgb(242, 242, 242);
  text-align: right;
  vertical-align: bottom;
}

.four-stars {
  content: "";
  display: block;
  width: 72px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.three-stars {
  content: "";
  display: block;
  width: 54px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}

.two-stars {
  content: "";
  display: block;
  width: 36px;
  height: 18px;
  background-image: url(../img/star.svg);
  background-repeat: repeat-x;
}
